<div class="theme-button">
      <button type="button" class="btn mt-1 fw-bold" data-bs-toggle="modal" data-bs-target="#exampleModal">
        settings <i class="fa-solid fa-gear"></i>
      </button>

      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">settings</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="theme-settings-mobile">
                <h3 class="">themes</h3>
                <div class="theme-switches">
                  <div data-theme="light" class="switch" id="switch-1"><span class="ps-5 fw-bold">light</span></div>

                  <!-- <div data-theme="dark" class="switch" id="switch-4"><span class="ps-5 fw-bold">dark</span></div> -->

                  <!-- <div data-theme="cadetblue" class="switch" id="switch-2"><span class="ps-5 fw-bold">cadetblue</span>
                  </div>

                  <div data-theme="coral" class="switch" id="switch-3"><span class="ps-5 fw-bold">coral</span></div> -->

                  <!-- <div data-theme="grey" class="switch " id="switch-4"><span class="ps-5 fw-bold">gray</span></div> -->

                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-dark" data-bs-dismiss="modal">close</button>
              <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>