<div class="bottom-nav fixed-bottom">
  <div class="d-flex align-items-center justify-content-center bg-white">
    <nav class="row pe-3 d-flex align-items-between">
      <a
        href="/home"
        class="col nav-link mx-2 text-decoration-none bg-white"
        id="compose"
        ><i class="fa-solid fa-house"></i
      ></a>
      <a
        href="/compose"
        class="col nav-link mx-2 text-decoration-none bg-white"
        id="compose"
        
        ><i class="fa-solid fa-plus"></i
      ></a>

    </nav>
  </div>
</div>
