<header>
  <div class="header-block">
    <div class="d-flex justify-content-between align-items-center my-1">
      <a
        href="/home"
        class="page-title d-flex align-items-center text-decoration-none"
      >
        <span class="com-name ps-3">Music Confabulation.</span>
      </a>

      <nav id="head-nav" class="row pe-3 d-flex align-items-center">
        <!-- <a
          href="/home"
          class="col nav-link mx-2 text-decoration-none badge"
          id="compose"
          >Home</a
        >
        <a
          href="#"
          class="col nav-link mx-2 text-decoration-none badge"
          id="compose"
          >About</a
        > -->
        <div class="flex-shrink-0 dropdown col">
          <a
            href="#"
            class="d-block link-dark text-decoration-none dropdown-toggle"
            id="dropdownUser2"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
          <!-- <a target="_blank" href="https://icons8.com/icon/7NrjGVZoyASu/avatar">Avatar icon by Icons8</a> -->
            <img
              <% if (!isLoggedIn) { %>
                src="https://img.icons8.com/external-emojis-because-i-love-you-royyan-wijaya/64/000000/external-avatar-hana-emojis-general-ii-emojis-because-i-love-you-royyan-wijaya-21.png"
              <% } else { %> 
              src="/images/<%= curUserImage %>"
              <% } %>
              alt="mdo"
              style="
                vertical-align: middle;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                margin-bottom: 0.3rem;
                border: 2px solid rgb(200, 200, 200);
              "
            />
          </a>
          <ul
            class="dropdown-menu text-small shadow border border-3 border-dark"
            aria-labelledby="dropdownUser2"
          >
            <li><a class="dropdown-item" href="/compose">Post</a></li>
            <li><a class="dropdown-item" href="/profile">Profile</a></li>
            <li><hr class="dropdown-divider" /></li>
            <% if (!isLoggedIn) { %>
            <li><a class="dropdown-item" href="/login">Log in</a></li>
            <li><a class="dropdown-item" href="/signup">Sign up</a></li>

            <%} else { %>
            <li><a class="dropdown-item" href="/logout">Sign out</a></li>
            <% } %>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
