<header>
  <div class="header-block">
    <div class="d-flex justify-content-between align-items-center my-1">
          <a
            href="/home"
            class="page-title d-flex align-items-center text-decoration-none"
          >
            <span class="com-name ps-3">Music Confabulation.</span>
          </a>

          <nav
            id="head-nav"
            class="row pe-3 d-flex align-items-center"
          >
            <a
              href="/home"
              class="col nav-link mx-2 text-decoration-none badge"
              id="compose"
              >Home</a
            >
            <a
              href="#"
              class="col nav-link mx-2 text-decoration-none badge"
              id="compose"
              >About</a
            >
            <div class="flex-shrink-0 dropdown col">
              <a
                href="#"
                class="d-block link-dark text-decoration-none dropdown-toggle"
                id="dropdownUser2"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img
                  src="/images/default_pic.jpg"
                  alt="mdo"
                  width="36"
                  height="36"
                  class="rounded-circle"
                />
              </a>
              <ul
                class="dropdown-menu text-small shadow border border-3 border-dark"
                aria-labelledby="dropdownUser2"
              >
                <li><a class="dropdown-item" href="/compose">Post</a></li>
                <li><a class="dropdown-item" href="/profile">Profile</a></li>
                <li><hr class="dropdown-divider" /></li>
                <% if (!isLoggedIn) { %>
                <li><a class="dropdown-item" href="/login">Log in</a></li>
                <li><a class="dropdown-item" href="/signup">Sign up</a></li>

                <%} else { %>
                <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                <% } %>
              </ul>
            </div>
          </nav>
        </div>
  </div>
</header>
