<%- include('partials/head'); -%>

<body>
  <video autoplay loop muted playsinline id="myVideo">
    <source src="/video/new.mp4" type="video/mp4" />
  </video>
  <div class="main">
    <%- include('partials/header'); -%>
    <div class="auth-page d-flex flex-column justify-content-center align-items-center ">
      <div class="" id="compose-block">
        <form class="" action="/compose" method="post">
          <div class="py-3">
            <div class="form-group m-0">
              <label class="fw-bold">title</label>
              <input
                class="form-control border border-2 border-dark rounded-3"
                type="text"
                name="postTitle"
                required
              />

              <div class="fw-bold">
                <label class="form-label">youtube url</label>
                <input
                  class="form-control border border-2 border-dark rounded-3"
                  type="text"
                  name="postURL"
                />
              </div>

              <div class="fw-bold">
                <label for="tag" class="form-label">tag</label>
                <div class="input-group has-validation">
                  <!-- <span class="input-group-text">#</span> -->
                  <input
                    type="text"
                    class="form-control border border-2 border-dark rounded-3"
                    name="postTag"
                    required
                  /> 
                </div>
              </div>

              <label class="fw-bold">content</label>
              <textarea
                class="form-control border border-2 border-dark rounded-3"
                rows="2"
        
                name="postBody"
              ></textarea>
            </div>
          </div>
          <div class="">
            <button class="btn btn-dark" type="submit" name="button">
              publish
            </button>
          </div>
        </form>
      </div>
    </div>
    <%- include('partials/bottom_nav'); -%>
    
  <%- include('partials/footer'); -%>
  </div>
  <script src="/scripts/scripts.js"></script>
</body>

