<%- include('partials/header'); -%>

<div class="container">
    <div class="py-3 mb-3">
        <div class="row">

            <aside class="col-md-2 blog-sidebar">
                <div class="">
                    <h4 class="font-italic">Contact me</h4>
                    <p class="mb-0"> Please don't hesitate to contact me via <a
                            href="mailto:ttran19@umbc.edu?subject=subject">email</a>
                        if you have any questions or comments.</p>
                </div>
            </aside>
            <div class="col-md-10 blog-main">
                <section>
                    <div class="container">
                        <h3 class="mb-4">Frequently Asked Questions</h3>
                        <div class="accordion accordion-flush" id="questions">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#question-two" aria-expanded="false">
                                        What content can I post on the forum?
                                    </button>
                                </h2>
                                <div id="question-two" class="accordion-collapse collapse" data-bs-parent="#questions">
                                    <div class="accordion-body">
                                        You are free to share your stories and memories about anything as long as it is appropriate. Don't be disrespectful!. 
                                    </div>
                                </div>
                            </div>

                            <!-- Item 1 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#question-one" aria-expanded="false">
                                        How to post on the music blog?
                                    </button>
                                </h2>
                                <div id="question-one" class="accordion-collapse collapse" data-bs-parent="#questions">
                                    <div class="accordion-body">
                                        Only a verified account will be able to post on the forum. Currently, we only
                                        support
                                        Soundcloud widget based on the url of the song.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#question-three">
                                        How do I create an account?
                                    </button>
                                </h2>
                                <div id="question-three" class="accordion-collapse collapse"
                                    data-bs-parent="#questions">
                                    <div class="accordion-body">
                                        You can create an account here. No inappropriate profiles (usernames, nicknames, avatars, etc.). This can include: blank names, unusual unicode, political views, slurs, or any other offensive material. 
                                        We reserve right to delete the usernames if necessary.
                                    </div>
                                </div>
                            </div>
                           

                        </div>

                </section>
            </div>

            <!-- <nav class="blog-pagination">
                    <a class="btn btn-outline-primary" href="#">Older</a>
                    <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
                </nav> -->

        </div><!-- /.blog-main -->



    </div>
</div>
</div>

<%- include('partials/footer'); -%>