<%- include('partials/header'); -%>
<section class="vh-100 bg-image">

    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <%- include('messages.ejs') %>
                        <h2 class="text-uppercase text-center mb-5">Log in</h2>
                        <form action="/login" method="post">
                            <!-- <img class="mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
                            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

                            <div class="form-floating">
                                <input type="text" name="username" class="form-control" id="floatingInput"  placeholder="Username">
                                <label for="floatingInput">Username</label>
                            </div>
                            <div class="form-floating">
                                <input type="password" name = "password" class="form-control" id="floatingPassword"
                                    placeholder="Password">
                                <label for="floatingPassword">Password</label>
                            </div>

                            <!-- <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" value="remember-me"> Remember me
                                </label>
                            </div> -->
                            
                            <button class="w-100 btn btn-lg btn-dark my-3" type="submit">Sign in</button>
                            
                           
                            <p class="mt-4">
                                No Account? <a class="link-secondary fw-bolder" href="/signup">Sign Up</a>
                            <p>
                        </form>


                    </div>
                </div>

            </div>

        </div>

    </div>

</section>



<%- include('partials/footer'); -%>