<%- include('partials/header'); -%>
<body>
    <section class="login-block-sec">

    <div class="container mb-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6 mb-3">
                <div class="card border border-2 border-dark rounded-3 login-block" style="border-radius: 15px;">
                    <div class="card-body">
                        <%- include('messages.ejs') %>
                        <h2 class="text-uppercase text-center">log in</h2>
                        <form action="/login" method="post">
                            <!-- <img class="mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
                            <h1 class="h3 mb-3 fw-normal">please sign in</h1>

                            <div class="form-floating">
                                <input type="text" name="username" class="form-control border border-2 border-dark rounded-3 mb-3" id="floatingInput"  placeholder="Username">
                                <label for="floatingInput">username</label>
                            </div>
                            <div class="form-floating">
                                <input type="password" name = "password" class="form-control border border-2 border-dark rounded-3" id="floatingPassword"
                                    placeholder="Password">
                                <label for="floatingPassword">password</label>
                            </div>

                            <!-- <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" value="remember-me"> Remember me
                                </label>
                            </div> -->
                            
                            <button class="w-100 btn btn-lg btn-dark my-3" type="submit">sign in</button>
                            
                           
                            <p class="mt-4">
                                no account? <a class=" fw-bolder" href="/signup">sign up</a>
                            <p>
                        </form>


                    </div>
                </div>

            </div>

        </div>

    </div>

</section>
<div class="media fixed-bottom ">
    <div class="nav-b flex-column flex-md-row align-items-end">

      <nav class=" mt-2 mt-md-0 ms-md-auto pb-1">
        <a href="/" class="nav-link mx-2 text-decoration-none nav-a" id="compose"><i class="fa-solid fa-arrow-rotate-left"></i></a>
        <a href="/compose" class="nav-link mx-2 text-decoration-none nav-a " id="compose"><i class="fa-solid fa-plus"></i></a>
        <a href="/profile" class="nav-link mx-2 text-decoration-none nav-a" id="profile"><i class="fa-solid fa-question"></i></a>

                                    
        <% if (!isLoggedIn) { %>
        <a href="/login" class="nav-link mx-2 text-decoration-none nav-a" id="logi"><i class="fa-solid fa-angle-right"></i></a>
        <a href="/signup" class="nav-link mx-2 text-decoration-none nav-a" id="signu"><i class="fa-solid fa-angle-up"></i></a>

        <%} else { %>
        <a href="/logout" class="nav-link mx-2 text-decoration-none nav-a " id="logout"><i class="fa-solid fa-right-from-bracket"></i></a>
        <% } %>

        
      </nav>
    </div>
  </div>

<script src="/scripts/scripts.js"></script>
</body>




<%- include('partials/footer'); -%>