<%- include('partials/header'); -%>

<section class="login-block-sec">
    <div class="container login-block">
        <div class="row d-flex justify-content-center align-items-center h-100">

            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
              
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-5">

                        <%- include('messages.ejs') %>
                        <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                        <form action="/signup" method="post">

                            <div class="form-outline">
                                <input type="text" id="floatingInput" name="username"
                                    class="form-control form-control-lg"  />
                                <label class="form-label" for="floatingInput">Username</label>
                            </div>

 

                            <div class="form-outline">
                                <input type="password" id="floatingPassword" name="userpassword"
                                    class="form-control form-control-lg" />
                                <label class="form-label" for="floatingPassword">Passwords</label>
                            </div>

  
                            <div class="form-outline">
                                <input type="password" id="floatingPassword2" name="userpassword_2"
                                    class="form-control form-control-lg" />
                                <label class="form-label" for="floatingPassword2">Confirm passwords</label>
                            </div>


                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-block btn-lg btn-dark">Register</button>
                            </div>

                            <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="login"
                                    class="link-secondary fw-bolder"><u>Login here</u></a></p>

                        </form>


                    </div>
                </div>
            </div>

        </div>

    </div>
</section>


<%- include('partials/footer'); -%>