:root {
  --primary-color: hsl(40, 100%, 99%);
  --secondary-color: hsl(220, 59%, 65%);
  --third-color: hsl(0, 0%, 0%);
}


.head-block {
  width: 75%;
}

.body-block {
  width: 75%;
}

body {
  color: black;
  /* background-color: coral; */
  /* background-color: mediumslateblue; */
  font-family: 'Barlow Condensed', sans-serif;
}

.nav-b {
  display: flex;
}

.nav-a {
  font-size: 2.0rem;

}

.nav {
  display: inline-flex;
}

.com-name {
  font-family: 'Lato', serif;
  font-size: 2.5rem;
}

.like-button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: #0000EE;
  padding: 0;
  text-decoration: underline;
  font-family: inherit;
  font-size: inherit;
}

.article-blog {
  margin-bottom: 3rem;
}

.login-block-sec {
  height: 100vh;
}

.login-block {
  height: 100%;
}

/* stylelint-disable selector-list-comma-newline-after */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* article{
    box-shadow:0 0 0 3px #ebebeb inset, 0 0 0 3px rgba(255,255,255,0.15) inset, 0 8px 0 0 #adadad, 0 8px 0 1px rgba(0,0,0,0.4), 0 10px 10px 3px rgba(0,0,0,0.5);
    background-color:#fff;

} */
.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {

  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.display-4 {
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.flex-auto {
  flex: 0 0 auto;
}

.nav-a {
  position: relative;
  border: #000000;
}

.nav-a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0%;
  border-bottom: 1.75px solid black;
  transition: 0.4s;
}

.nav-a:hover:after {
  width: 100%;
}

.h-250 {
  height: 250px;
}

@media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}

.blog-pagination>.btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {}

.blog-post-meta {}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}

/*
Comment section
*/

/* Comment card  */
.comment_profile {
  width: 60px;
  height: 60px;
}

.comment_content {
  font-size: 1.3rem;
}

.comment_date {
    flex: 0 0 auto;
    width: 15%;
}

@media (max-width: 575.98px) {

  .head-block {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .login-block-sec {
    height: 0vh;
  }

  .login-block {
    height: 0%;
  }

  .footer-block {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  nav {
    display: flex;
    justify-content: center !important;
  }

  .body-block {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .article-blog {
    margin-bottom: 0;
  }

  .nav-b {
    display: block;
  }

  .page-title {
    justify-content: center !important;
  }

  .com-name {
    font-size: 1.5rem;
    text-align: justify;
  }

  .nav-a {
    font-size: 1.3rem;

  }

  .about-main{
    display: none;
  }
  .some-main {
    display: none;
  }

  .comment_profile {
    width: 20px;
    height: 20px;
  }

  .comment_content {
    font-size: 1rem;
  }

  .comment_date {
  width: 100%;
  }
}