body {
  font-family: 'Roboto', sans-serif;
}

header {
  font-family: 'Roboto Mono', monospace;
}

.header-block {
  margin-top: 1rem;
  border-radius: 0.25rem;
  border-width: 3px;
  border-color: #212529;
  border: 3px solid #212529;
}

#head-nav {
  font-size: 2rem;
}


.com-name {
  font-family: 'Pacifico', cursive;
  font-size: 2.5rem;
}

.main {
  width: 66.66666667%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.main-block {}

.side-main-block {
  width: 25%;
}

.article-main-block {
  width: 75%;
}

article, .card {
  margin-top: 1rem;
  border-radius: 0.25rem;
  border-width: 3px;
  border-color: #212529;
  border: 3px solid #212529;
}

.pagination {
  border-radius: 0.25rem;
  border-width: 3px;
  border-color: #212529;
  border: 3px solid #212529;
  margin-top: 1rem;
}

.auth-page {
  height: 100vh;
}

.auth-form {
  width: 50%;
}

#blog-title {
  font-size: 16px;
}

#myVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.avatar {
  cursor: pointer;

  /* make a square container */
  width: 100px;
  height: 100px;
  border: 2px solid rgb(200, 200, 200);
  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;

  /* center the image vertically and horizontally */
  background-position: top center;

  /* round the edges to a circle with border radius 1/2 container size */
  border-radius: 50%;
}

.headerAvatar {
  cursor: pointer;

  /* make a square container */
  width: 100px;
  height: 100px;
  border: 2px solid rgb(200, 200, 200);
  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;

  /* center the image vertically and horizontally */
  background-position: top center;

  /* round the edges to a circle with border radius 1/2 container size */
  border-radius: 50%;
}

.fa-heart, .fa-message {
  font-size: 1.8rem;
}


.date {
  font-size: 12px;
}


.fa-heart:hover, .fa-message:hover {
  color: red;
  cursor: pointer;
}


.article-blog {
  margin-bottom: 3rem;

}

.blog-post {
  margin-top: 1rem;
  /* padding: 1rem; */
}

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}


/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}

/*
Comment section
*/

/* Comment card  */
.comment_profile {
  width: 60px;
  height: 60px;
}

.comment_content {
  font-size: 1.3rem;
}

.comment_date {
  flex: 0 0 auto;
  width: 15%;
}


.theme-switches {
  justify-content: center;
}


.switch:hover {
  transform: scale(1.3);
  transition: 0.3s ease-in-out;
}

#switch-1 {
  background-color: white;
  /* background: linear-gradient( -45deg, white, white 50%, rgb(192, 192, 192) 50% );  */

}

#switch-2 {
  /* background-color: cadetblue; */
  background: linear-gradient(-45deg, cadetblue, cadetblue 50%, #c06360 50%);
}

#switch-3 {
  /* background-color: coral; */
  background: linear-gradient(-45deg, coral, coral 50%, #52d1ffe0 50%);
}

#switch-4 {
  background: linear-gradient(-45deg, black, black 50%, #0d6efd 50%);
}

.theme-button {
  display: none;
}

.profile-pic {
  font-size: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.bottom-nav {
  display: none;
}

/*----- RESPONSIVE ------*/
@media (max-width: 575.98px) {

  .header-block {
    width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    border: 0;
    border-radius: 0;
    background-color: white;
  }

  .article-main-block {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }



  .main {
    width: 100%;
  }

  .login-block-sec {
    height: 0vh;
  }

  .login-block {
    margin-top: 0;

  }

  .blog-post {
    margin: 0;

  }


  .side-main-block {
    display: none;
  }


  div>span {
    font-size: 14px;
  }

  div>a {
    font-size: 14px;
  }

  .date {
    font-size: 12px;
  }

  #blog-title {
    font-size: 14px;
  }

  article {
    border: 0;
    padding: 0;
    line-height: 18px;
    border-radius: 0;
    border-width: 0;
    border-color: #eee;
  }

  .body-block {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
  }

  .article-blog {
    margin-bottom: 0;
  }

  .page-title {
    justify-content: center !important;
  }

  #head-nav {
    font-size: 1rem;
  }

  .com-name {
    font-family: 'Pacifico', cursive;
    font-size: 1rem;
  }

  .comment_profile {
    width: 20px;
    height: 20px;
  }

  .comment_content {
    font-size: 1rem;
  }

  .comment_date {
    width: 100%;
  }

  .page-nav {
    display: block;
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  .theme-button {
    display: flex;
    justify-content: center;
  }


  .card, .pagination {
    border: 0;
    border-radius: 0;
  }


  .profile-edit {
    font-size: 0.8rem;
  }

  #designed-post {
    width: 100%;
  }

  .body-main {
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
  }

  .article-outline {
    width: 100%;
  }

  .auth-page {
    height: 100vh;
  }

  .auth-form {
    width: 75%;
  }

  .footer-block {
    display: none;
  }

  .bottom-nav {
    display: block;
  }

  .pagination {
    margin-top: 0rem;
  }

}

@media (min-width: 576px) and (max-width: 991.98px) {

  .header-block, .article-main-block {
    width: 100%;
    margin: 0;
  }

  #head-nav {
    display: none;
  }

  .login-block {
    margin-top: 0px;
  }

  .blog-post {
    margin-top: 1rem;
  }

  #head-nav {
    font-size: 1.5rem;
  }

  .com-name {
    font-family: 'Pacifico', cursive;
    font-size: 1.8rem;
  }


  .side-main-block {
    display: none;
  }

  nav {
    display: flex;
    justify-content: center !important;
  }

  article {
    line-height: 1.2;
    border-radius: 0.25rem !important;
    border-width: 3px !important;
    border-color: #212529 !important;
    border: 3px solid #212529 !important;
  }

  .body-block {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }


  .article-blog {
    margin-bottom: 0;
  }

  .nav-b {
    display: block;
  }

  .page-title {
    justify-content: center !important;
  }

  .side {
    display: none;
  }

  .main {
    flex: 0 0 auto;
    width: 100% !important;
  }

  .about-main {
    display: none;
  }

  .some-main {
    display: none;
  }

  .theme-settings {
    display: none;
  }

  .comment_profile {
    width: 20px;
    height: 20px;
  }

  .comment_content {
    font-size: 1rem;
  }

  .comment_date {
    width: 100%;
  }

  .page-nav {
    display: block;
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  .theme-button {
    display: flex;
    justify-content: center;
  }

  .body-main {
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
  }

  .article-outline {
    width: 90%;
  }


  .auth-page {
    height: 100vh;
  }

  .auth-form {
    width: 50%;
  }

  .bottom-nav {
    display: block;
  }


}

@media (min-width: 992px) and (max-width: 1199.98px) {

  .header-block, .article-main-block {
    width: 100%;
    margin: 0;
  }

  #head-nav {
    font-size: 1.5rem;
  }

  .com-name {
    font-family: 'Pacifico', cursive;
    font-size: 1.8rem;
  }


  .side-main-block {
    display: none;
  }

  .com-name {
    font-size: 2.5rem;
    text-align: justify;
  }

  .auth-page {
    height: 100vh;
  }

  .auth-form {
    width: 50%;
  }



  .comment_profile {
    width: 20px;
    height: 20px;
  }

  .comment_content {
    font-size: 1rem;
  }

  .comment_date {
    width: 100%;
  }

  .page-nav {
    display: block;
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  .theme-button {
    display: none;
  }

  .media,
  .s-media {
    display: none;
  }


}

@media (min-width: 1200px) and (max-width: 1399.98px) {

  .head-block, .article-main-block {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  #head-nav {
    font-size: 1.8rem;
  }

  .com-name {
    font-family: 'Pacifico', cursive;
    font-size: 2.1rem;
  }

  .auth-page {
    height: 100vh;
  }

  .auth-form {
    width: 50%;
  }

  .footer-block {
    display: none;
  }

  .blog-post {
    margin-top: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    padding-left: 1.5rem;
  }

  nav {
    display: flex;
    justify-content: center !important;
  }


  .comment_profile {
    width: 20px;
    height: 20px;
  }

  .comment_content {
    font-size: 1rem;
  }

  .comment_date {
    width: 100%;
  }

  .page-nav {
    display: block;
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  .theme-button {
    display: none;
  }


}