
body {
  background-color: coral;
  color: black;
}

header {
  background-color: coral;
  color: black;
}


.page-link{
  background-color: coral;
  border-color: black;
}


article{
  background-color: #52d1ffe0;
}
.card, .card-footer, .form-control{
  background-color:#52d1ffe0;
}

