
body {
  background-color: coral;
  color: black;
}

header {
  background-color: coral;
  color: black;
}


.page-link{
  background-color: coral;
  border-color: black;
}


article{
  background-color: #52d1ff;
}
.card, .card-footer, .form-control{
  background-color:#52d1ff;
}

a{
  color:black;
}


#compose, #logi, #signu, #logout,#profile{
  color: black;
}

.nav-a {
  position: relative;
  border: #000000;
}

.nav-a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0%;
  border-bottom: 2px solid black;
  transition: 0.4s;
}

.nav-a:hover:after {
  width: 100%;
}

.switch {
  border: 3px solid black;
  border-radius: 60px;
  height: 40px;
  width: 40px;
  margin: 20px;
  cursor: pointer;
}

.media{
  background-color: coral;
}

.fa-heart{
  color:black;
}

.button-profile{
  background-color: #52d1ff;
  color: black;
}
