
body {
    background-color: #030303;
    /* color: white; */
}


a{
  color: #0d6efd;
}
/* #compose, #logi, #signu, #logout{
  color: white;
} */



.article-blog, .body-block{
  /* background-color:rgb(192, 192, 192); */
  /* background-color: black; */
   color: white;
}

.card, .card-footer, .form-control{
  /* background-color:rgb(192, 192, 192); */
  background-color: #030303;
  color: white;
}

.switch {
  border: 3px solid #212529;
  border-radius: 60px;
  height: 40px;
  width: 40px;
  margin: 20px;
  cursor: pointer;
}

#like-btn-article, #cmt-btn-article {
  color: white;
  background-color: #030303;
}

.model-content{
  color:#030303;
}