
body {
    background-color: white;
    color: black;
}

header {
  background-color: white;
}

.page-link{
  background-color: white;
  border-color: black;
}

article{
  background-color:rgb(192, 192, 192);
}

.card, .card-footer, .form-control{
  background-color:rgb(192, 192, 192);
}